*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* --------------------------------------- */
/*                                         */
/*          ESTILOS PERSONALIZADOS         */
/*                                         */
/* --------------------------------------- */

.contenedor{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

#search{
    margin: 30px 20px;
    width: 50%;
    padding: 15px;
    outline: none;
    border: 1px dashed #000;
    border-radius: 10px;
    font-size: 20px;
}

#search:focus{
    box-shadow: 0 0 0 1px #000;
    border-style: solid;
}

select{
    width: 200px;
    padding: 7px;
    font-size: 17px;
    font-weight: 500;
    color: #fff;
    box-shadow: 3px 3px 3px #aaa;
    outline: none;
}

/* [value="tornilleria"]{background: #f00}
[value="pinturas"]{background: #0f0}
[value="tuberia"]{background: #0df}
[value="herramientas"]{background: #d0f}
[value="todos"]{background: #ff0} */

option{
    background: #fff;
    color: #444;
}

.productos{
    margin: 0px 5px 20px;
}


.producto{
    background: #ddf;
    padding: 10px;
    outline: .3px solid #33a;
    font-size: 25px;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

/* PROPIEDADES */

.oculto{
    display: none;
}

.oculto2{
    display: none;
}