*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* PROPIEDADES */

.rojo{
    background: #f00;
}

.verde{
    background: #0f0;
}

.azul{
    background: #0bf;
}

.morado{
    background: #b0f;
}

.amarillo{
    background: #ff0;
}

/* --------------------------------------- */
/*                                         */
/*          ESTILOS PERSONALIZADOS         */
/*                                         */
/* --------------------------------------- */

html{
    scroll-behavior: smooth;
}

body{
    width: 100%;
}

/* NAVEGACION */

nav{
    width: 100%;
    height: 70px;
    background: #f30000;
    color: #fff;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    height: 60px;
    margin-left: 5px;
}

.logo h2{
    margin-left: 10px;
    font-size: 30px;
}

.links{
    background: #000;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

.links a{
    font-size: 18px;
    text-decoration: none;
    line-height: 70px;
    color: #fff;
    background: #790000;
    padding: 0 50px;
}

.links a:hover{
    background: #962121;
    text-decoration: underline;
}

/* HEADER */

header{
    height: 550px;
    color: #fff;
    background: #000c;
    background: linear-gradient(to top, #000, #000c, #0008, #0000), url(../recursos/header.jpg);
    background-position: center;
    background-size: cover;

    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

header h1{
    font-size: 50px;
    margin: 5px;
}

header p{
    font-size: 20px;
    margin: 5px;
}

#products{
    position: absolute;
    bottom: 100px;
}

/* CARTAS DE TIPOS DE PRODUCTO */

.productos__container{
    margin: auto;
    width: 80%;
    position: relative;
    top: -40px;

    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 300px 200px;
    grid-gap: 30px;
    grid-template-areas: 
    "c1 c1 c2 c2 c3 c3"
    "c4 c4 c4 c5 c5 c5";
}

.productos__card{
    background: #bbb;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 3px 3px 7px #000b;
    transform: scale(1);
    transition: 0.3s ease-out;

    display: flex;
    justify-content: center;
}

.c1{
    grid-area: c1;
    background-image: url(../recursos/tornilleria.jpg);
}
.c2{
    grid-area: c2;
    background-image: url(../recursos/pinturas.jpg);
}
.c3{
    grid-area: c3;
    background-image: url(../recursos/tuberia.jpg);

}
.c4{
    grid-area: c4;
    background-image: url(../recursos/herramientas.jpg);

}
.c5{
    grid-area: c5;
    background-image: url(../recursos/otros_casa.jpg);

}

.productos__card h3{
    color: #fff;
    opacity: 0;
    font-size: 35px;
    font-weight: 600;
    position: absolute;
    z-index: 10;
    bottom: 0;
    transition: .3s;
}

.card__filtro{
    width: 100%;
    height: 100%;
    opacity: .65;
    transition: .4s;
}

.productos__card:hover{
    transform: scale(1.06);
    box-shadow: 10px 10px 15px #0005;
    align-items: center;
}

.productos__card:hover .card__filtro{
    opacity: .9;
}

.c1:hover h3,.c2:hover h3,.c3:hover h3{  /* Los primeros 3 elementos del grid al pasar el cursor */
    opacity: 1;
    transform: translateY(-140px);
}

.c4:hover h3, .c5:hover h3{
    opacity: 1;
    transform: translateY(-80px);
}

/* MIDDLE */

.middle{
    padding: 30px;
    background: url(../recursos/middle.jpg);
    background: #ff07;
    background: linear-gradient(to top, #ff8, #f307, #000a), url(../recursos/middle.jpg);
    background-position: center;
    background-attachment: fixed;
    height: 200px;

    display: flex;
    align-items: center;
}

.middle h2{
    font-weight: 900;
    font-size: 40px;
    color: #fff;
    text-shadow: 3px 3px 3px #000;
}

/* SLIDER DE CARTAS */

.slider{
    padding-top: 1px;
    /* background: #191c00; */
}

.slider h2{
    text-align: center;
    font-size: 40px;
    margin: 50px 0 30px 0;
    color: #f30;
}

.slider__lista{
    padding: 10px;
    background: #f30;
}

.lista__card{
    background: #fff;
    margin: 0 15px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 7px 3px 5px #ff03;
    cursor: pointer;

    display: flex;
    flex-flow: column wrap;
    align-items: center;
}
.lista__card:hover{
    box-shadow: 0 0 5px 3px #ff0;
}

.lista__card img{
    max-height: 200px;
}

.card__name{
    margin: 3px 0;
    font-weight: 600;
    font-size: 20px;
}

.card__precio{
    font-weight: 900;
    color: #f30
}

/* SLIDER__BOTONES */

.slider__container{
    position: relative;
}

.slider__anterior,
.slider__siguiente{
    position: absolute;
    display: block;
    width: 40px;
    height: 100%;
    border: none;
    outline: none;
    top: 0;
    cursor: pointer;
    font-size: 20px;
    text-align: center;
    background: #0002;
    color: #000;
    z-index: 100;
}

.slider__anterior:hover,
.slider__siguiente:hover{
    background: #000a;
    color: #fff;
}

.slider__anterior{
	left: 0;
}

.slider__siguiente{
    right: 0;
}

.slider__lista {
	overflow: hidden;
}

.slider__indicadores .glider-dot{
    width: 30px;
    height: 5px;
    margin: 25px 5px;
    border-radius: 0;
    box-shadow: 0 0 1px 0.5px #f30;
    background: #f30;
}

.slider__indicadores .glider-dot:hover{
    background: #fa0;
}

.slider__indicadores .glider-dot.active{
    background: #ff0;
}

/* FOOTER */

footer{
    margin-top: 200px;
    background: #000;
    color: #fff;
    padding: 20px 5px;
}