*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.filtro__input{
    margin: 20px;
    width: 50%;
    padding: 10px;
    outline: none;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 15px;
}

ul{
    margin: 20px 5px;
}


ul > li{
    background: #ddf;
    padding: 10px;
    outline: .3px solid #33a;
    font-size: 25px;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}